
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Lora&display=swap');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #1780A1;
  --header-color:    #455E89;
  --body-color:      #114B5F;
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   #D4A0A7;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Lora;
  --mono-font:       Andada Pro;
  --body-font:       Andada Pro;
  --navbar-font:     Lora; 
  /* websites + blogs only */
  
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #455E89;
  --text-size:        15px;
  --hover-color:      #1780A1;
  --bkgd-color:       #EBD4CB;
  
}

.distill-site-footer {
  --text-color:       #455E89;
  --text-size:        15px;
  --hover-color:      #1780A1;
  --bkgd-color:       #EBD4CB;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.button{
  background-color: #0091AD; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.button:hover {
  background-color: #EBD4CB;
  color: #114B5F;
  text-decoration: none;
}
.link_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
}
.resume-button{
  background-color: #0091AD; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 15px;
  width: 35%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  text-decoration: none;
}

.resume-button:hover {
  background-color: #EBD4CB;
  color: #114B5F;
  text-decoration: none;
}
.intro{
  text-align: center;
}
.body{
  text-align: justify;
}
.pull-right{
  width: 30%;
}



